body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* خلفية خفيفة */
    direction: rtl;
}
.navbar-nav {
    margin-right: auto; /* التأكد من وضع العناصر في اليمين */
}
.form-control {
    margin-left: 0.5rem; /* تعديلات للبحث */
}

/* تخصيص العناوين */
h1, h2  {
    font-weight: bold;
    color: rgb(60, 9, 170);
}

/* تخصيص البطاقات */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* تعديل التذييل */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #2c3e50;
    color: white;
}

